@import "color.less";

::-webkit-scrollbar { 
  display: none; 
}

body {
  background-color: @theme;
  font-family: Helvetica;
  font-weight: 900;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

div#content {
  width: 100vw;
  height: 100vh;
}

div.page {
  display: grid;
  grid-template-columns: 5% auto;

  height: 100%;
  overflow: hidden;
}

div.main {
  display: grid;
  grid-template-rows: 20vh auto 10vh;

  height: 100%;
  box-shadow: inset 0px 3px 10px @dark-theme;
  transition: 2s;
}