@theme: #2C3A47;
@light-theme: #414d59;
@dark-theme: #1a222a;
@white: #ffffff;

::-webkit-scrollbar { 
  display: none; 
}

body {
  background-color: @theme;
  font-family: Helvetica;
  font-weight: 900;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

div#content {
  width: 100vw;
  height: 100vh;
}

div.main {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: 20vh auto 10vh;

  height: 100%;
  overflow: hidden;
}

div.header {
  grid-column: ~"1 / -1";
  display: grid;
  grid-template-rows: 1fr;

  div.selected {
    display: grid;
    grid-template-rows: auto 1fr;

    padding: 10px;
    color: @white;

    div.title {
      font-size: 30px;
      border-bottom: 5px solid @dark-theme;
      border-radius: 3px;
      padding-bottom: 10px;
      padding-left: 10px;

      span.year {
        font-style: italic;
      }
    }

    div.editpart {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      padding: 10px 0px;

      div.editname {
        display: grid;
        grid-template-rows: 1fr 1fr;

        input, select {
          padding: 10px;
          border: none;
          background-color: @dark-theme;
          color: @white;
          outline: none;
        }

        select {
          margin-bottom: 20px;
        }

        input {
          
        }
      }
    }
  }
}

div.body {
  grid-column: ~"1 / -1";
  grid-row: 2;
  display: grid;

  background-color: @light-theme;
  box-shadow: inset 0px 3px 10px @dark-theme;
}

div.footer {
  grid-column: ~"1 / -1";
  grid-row: 3;
  display: grid;

  box-shadow: inset 0px 3px 10px @dark-theme;
  padding: 10px;
  justify-content: right;
  align-items: center;
}

div.dragdrop {
  align-items: center;
  display: grid;

  color: @dark-theme;
  font-size: 30px;

  div.hidedrag {
    padding: 0;
    border: none;
  }

  div.blockdrag {
    padding: 100px;
    border: 5px dashed @dark-theme;
    border-radius: 3px;
    cursor: pointer;
  }

  div.logo {
    display: grid;
    justify-items: center;

    font-size: 60px;
    padding: 10px;
  }
}

div.details {
  display: grid;
  grid-auto-rows: 10vh;

  overflow-y: scroll;
  height: 70.5vh;
  color: @white;
  // text-shadow: -2px 0 @dark-theme, 0 2px @dark-theme, 2px 0 @dark-theme, 0 -2px @dark-theme;

  div.detailsclicked {
    background-color: @dark-theme;
  }

  div.detailsFile {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);

    padding: 10px;
    border-bottom: 2px solid @dark-theme;
    box-shadow: inset 0px 1px 4px @dark-theme;
    cursor: pointer;
    transition: 0.2s;

    div.infos, div.newinfos {
      display: grid;
      grid-template-rows: repeat(3, 33.33%);

      word-break: break-word;

      div.title {
        font-size: 20px;
        font-weight: bold;
      }

      div.seriesinfo {
        font-style: italic;
        font-size: 16px;
        align-self: center;
      }
  
      span.year {
        font-style: italic;
        font-size: 16px;
      }

      div.filename {
        font-style: italic;
        font-size: 16px;
      }
    }

    div.arrowleft {
      justify-self: center;
      align-self: center;
    }

    div.newinfos {
      justify-self: right;
    }

  }
}

div.button {

  button {
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 2px;
    background-color: @white;
    color: @light-theme;
    box-shadow: 0px 0px 5px 2px @dark-theme;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }

  button:hover {
    opacity: 0.6;
    outline: none;
  }

}