@theme: #2C3A47;
@light-theme: #414d59;
@dark-theme: #1a222a;
@white: #ffffff;

::-webkit-scrollbar { 
  display: none; 
}

body {
  background-color: @theme;
  font-family: Helvetica;
  font-weight: 900;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

div#content {
  width: 100vw;
  height: 100vh;
}

div.main {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: 20vh auto;

  height: 100%;
  overflow: hidden;
}

div.header {
  grid-column: ~"1 / -1";

}

div.body {
  grid-column: ~"1 / -1";
  grid-row: 2;
  display: grid;

  background-color: @light-theme;
  box-shadow: inset 0px 3px 10px @dark-theme;
}

div.dragdrop {
  align-items: center;
  display: grid;

  color: @dark-theme;
  font-size: 30px;

  div.hidedrag {
    padding: 0;
    border: none;
  }

  div.blockdrag {
    padding: 100px;
    border: 5px dashed @dark-theme;
    border-radius: 3px;
    cursor: pointer;
  }

  div.logo {
    display: grid;
    justify-items: center;

    font-size: 60px;
    padding: 20px;
  }
}

div.details {
  display: grid;
  grid-template-rows: repeat(10, 1fr);

  overflow-y: scroll;
  height: 80vh;

  div.detailsFile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px;
    border-bottom: 2px solid @dark-theme;
    box-shadow: inset 0px 1px 4px @dark-theme;

    div.infos {
      display: grid;
      grid-template-rows: repeat(3, 1fr);

      div.title {
        font-size: 25px;
      }
  
      div.year {
        font-style: italic;
      }
    }
  }
}
